<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ABA Real Estates</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="header-content">
            <i class='fa-solid fa-house'></i>
            <a class="logo">ABA Real Estates</a>
        </div>
        <label class="icons" for="check">
            <i class='fa-solid fa-bars' id="menu-icon"></i>
            <i class='fa-solid fa-xmark' id="close-icon"></i>
        </label>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/home">Home</a></li>
                <li><a href="/properties/post">Post Property</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="contact">
        <div class="content">
            <h2>Contact Us</h2>
            <p>We're here to help you find your dream home. Whether you have questions about a property, need assistance with selling,
                 or want to learn more about our services, our team of experienced professionals is ready to assist you. 
                 Reach out to us today via  email, or by filling out the form below, and we'll get back to you promptly. 
                 Your next home is just a message away!
            </p>
        </div>
        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><b><i class="fa-solid fa-location-dot"></i></b></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>L-1608, Sector 1,<br>Surjani Town</br></p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><b><i class="fa-solid fa-phone"></i></b></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>0310-2647209</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><b><i class="fa-solid fa-envelope"></i></b></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>m.bilal0111@gmail.com</p>
                    </div>
                </div>

                <h2 class="txt"> Connect with Us</h2>
                <ul class="sci">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
            
            <div class="contactForm">
                <form action="/contact" method="post">
                    <h2>Send Message</h2>
                    <div class="inputBox">
                        <input type="text" name="Full_Name" required>
                        <span>Full Name</span>
                    </div>
                    <div class="inputBox">
                        <input type="email" name="Email" required>
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea name="Message" required></textarea>
                        <span>Type Your Message...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Send" style="font-size:1.2rem ;">
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- footer -->
    <footer class="foooter">
        <div class="container1">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Our services</a></li>
                        <li><a href="">Help & Support</a></li>
                        <li><a href="">Terms Of Use</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact us</h4>
                    <ul>
                        <li><a href="">Add Property</a></li>
                        <li><a href="">News</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">FAQs</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Quick links</h4>
                    <ul>
                        <li><a href="">Projects in Karachi</a></li>
                        <li><a href="">Projects in Lahore</a></li>
                        <li><a href="">Projects in Islamabad</a></li>
                        <li><a href="">Projects in Peshawar</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href=""><img src="./../icons/facebook.png" alt=""></i></a>
                        <a href=""><img src="./../icons/instagram.png" alt=""></a>
                        <a href=""><img src="./../icons/twitter.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <p>© Copyright 2024 ABA Real Estates. All Rights Reserved</p>
    </footer>
</body>
</html>